@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Baloo 2', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

@layer components {
  .eye {
    @apply w-5 h-5 bg-white rounded-full relative;
    background: radial-gradient(farthest-side, #000 95%, transparent) 35% 35% / 6px 6px no-repeat;
    animation: move-eye 3s infinite;
  }

  .eye-container {
    @apply absolute flex gap-5 z-10;
  }
}

@layer keyframes {
  @keyframes move-eye {
    0%, 11%   { background-position: 35% 35%; }
    14%, 36%  { background-position: 65% 35%; }
    38%, 61%  { background-position: 65% 65%; }
    64%, 86%  { background-position: 35% 65%; }
    88%, 100% { background-position: 35% 35%; }
  }
}